/*
  style.css
  Evan Robertson
  301291019
  October 5 2023
*/


/* Style for all borders used on website */
#border {
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

/* Style for caroursels (slideshows) used on the website*/
#carousel, #carousel2 {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
}

/* Style to align the forms on the website */
#form {
    margin-left: 25%;
    margin-right: 25%;
}

/* Style to center content */
#center {
    text-align: center;
}

/* Style to align content right */
#right {
    text-align: right;
}

/* Style for video player on the website */
iframe {
    margin: 30px;
}

/* Style for side text/images on the website */
aside {
    float: right;
    padding-left: 30px;
    margin-left: 30px;
    width: 30%;
}

/* Style to prevent the bottom navbar from blocking content*/
main {
    margin-bottom:5%;
}