<!--
  about.ejs
  Evan Robertson
  301291019
  October 5 2023
-->

<!--Partials-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <br>
    <!--Split the text and image to different columns using bootstrap-->
    <div class="row align-items-start">
      <div class="col">
        <br>
        <h1 class="display-4">About Me</h1>
        <p>My name is Evan Robertson and I am a programmer looking to succeed and thrive in the world of game development. 
          I graduated from Sheridan College in 2021 with a diploma in Computer Programming and am now completeting a program in 
          Game Programming at Centennial College. You can learn about a bunch of my past and current projects <a href="./projects">here</a>.  
        </p>
      </div>
      <aside class="col">
        <img id="border" src="img/headshot.jpg" alt="Picture of Evan" width="400px">
      </aside>
    </div>
    <br>
    <hr>
    <br>
    <div id="center">
      <!--Open these external links in a new window-->
      <h2>Links</h2>
      <a href="https://github.com/EvanRobertsonDev" target="_blank">Github</a>
      <br>
      <!--Resume will be attached in the future-->
      <a href="documents/resume.pdf" target="_blank">Resume</a>
    </div>
  </div>
</main>

<!--bottom nav-->
<%- include ('partials/bottom_nav.ejs') %>
<!--script section-->
<%- include ('partials/footer.ejs') %>
   