<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
    <div class="jumbotron">
        <br>
        <h1 class="display-4">Hi, I'm Evan</h1>
        <h4>I'm a programmer, web designer, and aspiring game developer.</h4>
        <br>
        <br>
        <br>
        <p>To learn more about myself and my work, head over to the <a href="./about">About Section</a></p>
        <p>To see past and current projects, click the <a href="./projects">Projects Section</a></p>
        <p>To view the services I offer, click the <a href="./services">Services Section</a></p>
        <p>To contact me for questions and inqueries, use the <a href="./contact">Contact Section</a></p>
    </div>
</main>

<!--bottom nav-->
<%- include ('partials/bottom_nav.ejs') %>
<!--script section-->
<%- include ('partials/footer.ejs') %>
   