<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <br>
    <h1 class="display-4">Services</h1>
    <br>
    <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="img/services/gamedev.png" class="d-block w-100" alt="Unity" width="1000" height="700">
          <div class="carousel-caption d-none d-md-block">
            <h3>Game Development</h3>
            <br>
            <br>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="img/services/assets.png" class="d-block w-100" alt="Blender" width="1000" height="700">
          <div class="carousel-caption d-none d-md-block">
            <h3>2D & 3D Asset Creation</h3>
            <br>
            <br>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/services/web.png" class="d-block w-100" alt="Website" width="1000" height="700">
          <div class="carousel-caption d-none d-md-block">
            <h3>Front-End Web Design</h3>
            <br>
            <br>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/services/database.png" class="d-block w-100" alt="SQL Developer" width="1000" height="700">
          <div class="carousel-caption d-none d-md-block">
            <h3>Back-End Database Management</h3>
            <br>
            <br>
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</main>


<!--bottom nav-->
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
